body {
    margin: 0;
    height: 2000px;
    font-family: 'Nunito', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #1f4e5f;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%2379a8a9' fill-opacity='0.10' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  }
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
    }

.layout {
    text-align: center;
    justify-content: center;
    overflow-x: hidden;
    margin: 0;
  }
  
.fadeout {
    opacity: 0;
    transition: opacity 750ms;
  }
  
.fadein {
    opacity: 1;
    transition: opacity 750ms;
  }
